# Copyright 2026 Firefly Software Foundation.
# Author: Firefly Software Foundation
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
"""Fixed native forwarding service; imported operations are immutable package data."""

import json
from importlib.resources import files

from pyfly.container import service

from firefly_weave.compiler.catalog import FrozenDocument
from firefly_weave.connectors.http_profiles import HttpProfileConnector
from firefly_weave.connectors.packages import ConnectorPackage, PackageMetadata
from firefly_weave.contracts.connectors import ActionContext, BoundConnection, ConnectionTestResult
from firefly_weave.contracts.http_profiles import validate_profile_connection
from firefly_weave.contracts.values import JsonObject, JsonValue


@service
class ImportedHttpConnector:
    def __init__(self, profile: HttpProfileConnector) -> None:
        self.profile = profile

    async def execute(self, input: JsonObject, context: ActionContext) -> JsonValue:
        return await self.profile.execute(input, context)

    async def test_connection(self, connection: BoundConnection) -> ConnectionTestResult:
        return await self.profile.test_connection(connection)


package = ConnectorPackage(
    PackageMetadata(FrozenDocument.from_value(json.loads(files(__package__).joinpath('connector.json').read_text()))),
    ImportedHttpConnector,
    validate_connection=validate_profile_connection,
)
